#*.csv # all csvs will be ignored by git

# On mac OS: data/ # everything inside the data folder will be ignored by git
# On Windows OS: data\ # everything inside the data folder will be ignored by git


# dbt 文件夹


# 配置文件

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
